@{
    ViewData["Title"] = "Task List";
}

@model List<ApplicationResponse>

<link rel="stylesheet" type="text/css" href="/css/default.css" />



<h1>Welcome to the task list page</h1>

<h2>Temp: Here is a first draft list</h2>

<table class="table table-bordered table-striped">

    <!--task(string), due date(date), quadrant(string), category(string), completed(bool)-->
    <thead class="bold">
        <tr>
            <td>Task</td>
            <td>Due Date</td>
            <td>Quadrant</td>
            <td>Category</td>
            <td>Completed?</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {

            <tr>
                <td>@x.Task</td>
                <td>@x.DueDate</td>
                <td>@x.Quadrant</td>
                <td>@x.Category.CategoryTitle</td>
                <td>@x.Completed</td>


                <td><a asp-controller="Home" asp-action="Edit" asp-route-TaskId="@x.TaskId">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-TaskId="@x.TaskId">Delete</a></td>
            </tr>
        }

    </tbody>
</table>





<br />
<br />
<br />
<br />


    


<div class="container">

    <div class="grid-1" style="border-style: solid">
        <h1><b><u>URGENT AND IMPORTANT</u></b></h1>
        <hr style="block-size: 5px; opacity: 1" />
        <br />

        <b>Quadrant 1</b>
        <br />
        @foreach (var x in Model)
        {
            @if (@x.Quadrant == 1 & @x.Completed == false)
            {

                <li>
                    @x.Task <a asp-controller="Home" asp-action="Edit" asp-route-TaskId="@x.TaskId">Edit</a>
                    <a asp-controller="Home" asp-action="Delete" asp-route-TaskId="@x.TaskId">Delete</a>
                </li>

            }

        }


    </div>
    
    <div class="grid-2" style="border-style: solid">
        <h1><b><u>NOT URGENT BUT IMPORTANT</u></b></h1>
        <hr style="block-size: 5px; opacity: 1" />

        <br />
        <b>Quadrant 2</b>
        <br />
        @foreach (var x in Model)
        {
            @if (@x.Quadrant == 2 & @x.Completed == false)
            {

                <li>
                    @x.Task
                    <a asp-controller="Home" asp-action="Edit" asp-route-TaskId="@x.TaskId">Edit</a>
                    <a asp-controller="Home" asp-action="Delete" asp-route-TaskId="@x.TaskId">Delete</a>
                </li>

            }

        }
    </div>

    <div class="grid-3" style="border-style: solid">
        <h1><b><u>URGENT BUT NOT IMPORTANT</u></b></h1>
        <hr style="block-size: 5px; opacity: 1" />        
        <br />
        <b>Quadrant 3</b>
        <br />
        @foreach (var x in Model)
        {
            @if (@x.Quadrant == 3 & @x.Completed == false)
            {

                <li>
                    @x.Task
                    <a asp-controller="Home" asp-action="Edit" asp-route-TaskId="@x.TaskId">Edit</a>
                    <a asp-controller="Home" asp-action="Delete" asp-route-TaskId="@x.TaskId">Delete</a>


                </li>

            }

        }
    </div>

    <div class="grid-4" style="border-style: solid">
        <h1><b><u>NOT URGENT, NOT IMPORTANT</u></b></h1>
        <hr style="block-size: 5px; opacity: 1" />        
        <br />
        <b>Quadrant 4</b>
        <br />
        @foreach (var x in Model)
        {
            @if (@x.Quadrant == 4 & @x.Completed == false)
            {

                <li>
                    @x.Task
                    <a asp-controller="Home" asp-action="Edit" asp-route-TaskId="@x.TaskId">Edit</a>
                    <a asp-controller="Home" asp-action="Delete" asp-route-TaskId="@x.TaskId">Delete</a>
                </li>

            }

        }
    </div>

</div>

